// Background color: 
$background-color: #f4f3f1;

// Text color: 
$text-color: #3e6663;

// Font: 
$font-family: 'Courier New', Courier, monospace;

// Header-Link Background color: 
$link-color: #e3f0f0;

// Header-Link:hover Background color: 
$link-hover: #528884; 

// Redirect-Link Color: 
$redir-color: #cc8a3c;

// height for main body of site: height: 80vh;