// Background color: 
$background-color: #f6f6f6;
$darker-background: #e1eaee;

// Text color: 
$text-color: #3e6663;
$blueish: rgb(136, 214, 214);

// Font: 
$font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

// Header-Link Background color: 
$link-color: #e3f0f0;

// Header-Link:hover Background color: 
$link-hover: #528884; 

// Redirect-Link Color: 
$redir-color: #cc8a3c;

// height for main body of site: height: 80vh;