@import 'variables'; 

body {
    background-color: $background-color;
    font-family: $font-family;
    margin: 0; 
}

.flexdisplay {
    display: flex;
    align-items: center;
    height: 80vh;  
    border: 2px solid blue; 
    
}

.activities {

    &--list {
        display: flex;
        flex-direction: column;
        margin-left: 10vw; 
        margin-right: 10vw;
    }
}

.activity {
    margin-bottom: 5vh;
}



