@import 'variables'; 
.body {
    margin: 0; 
}
.city{
    padding-top: 70px;
    background-color: $background-color;
    background-image: url(/img/emile-seguin-R9OueKOtGGU-unsplash.jpg);
    background-position: 50% 60%; 
	background-repeat: no-repeat; 
	background-size:cover; 
	background-attachment:fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: $font-family;   

    &--head {
        text-align: center;
        width: 80vw; 
        color: $text-color; 
    }

    &--subhead {
        text-align: center;
        width: 80vw; 
        color: $text-color; 
    }

    &--category {
        width: 90vw; 
        text-align: center;
        padding-top: 5vh;
        padding-bottom: 13vh;
        color: $text-color; 
        opacity: 0.9; 
        border-radius: 25px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;

        &__link {
            color: black; 
            text-decoration: none;
            font-size: 40px;
            font-weight: 900;
        }
        &__item {
            color: black; 

        }

        &__helping {
            padding: 3px; 
            width: 40vw; 
            height: 30vh;
            border-radius: 25px;
            background-color: $background-color; 
            border: 1px solid $text-color;
            margin-bottom: 30px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            &:hover {
                border: 1px solid $background-color;
                width: 40vw; 
                height: 30vh;
                border-radius: 25px; 
                background-image: url(/img/roman-kraft-0EVKn3-5JSU-unsplash.jpg);
                background-size: cover;
                color: rgba(0, 0, 0, 0.5);
            }
            &:hover .helping--child{
                font-style: italic;
            }
            &:hover .helping--item{
                visibility: hidden;
            }
        }
        &__language {
            padding: 3px; 
            width: 40vw; 
            height: 30vh;
            border-radius: 25px;
            background-color: $background-color; 
            border: 1px solid $text-color;
            margin-bottom: 30px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            &:hover {
                border: 1px solid $background-color;
                width: 40vw; 
                height: 30vh;
                border-radius: 25px; 
                background-image: url(/img/joshua-rawson-harris-KRELIShKxTM-unsplash.jpg);
                background-size: cover;
                color: rgba(0, 0, 0, 0.5);
            }
            &:hover .language--child{
                font-style: italic;
            }
            &:hover .language--item{
                visibility: hidden;
            }
        }
        &__coding {
            padding: 3px; 
            width: 40vw; 
            height: 30vh;
            border-radius: 25px;
            background-color: $background-color; 
            border: 1px solid $text-color; 
            margin-bottom: 30px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            &:hover {
                border: 1px solid $background-color;
                width: 40vw;  
                height: 30vh;
                border-radius: 25px; 
                background-image: url(/img/safar-safarov-MSN8TFhJ0is-unsplash.jpg);
                background-size: cover;
                color: rgba(0, 0, 0, 0.5);
            }
            &:hover .coding--child{
                font-style: italic;
            }
            &:hover .coding--item{
                visibility: hidden;
            }
        }
        &__cooking {
            padding: 3px; 
            width: 40vw; 
            height: 30vh;
            border-radius: 25px;
            background-color: $background-color; 
            border: 1px solid $text-color; 
            margin-bottom: 30px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            &:hover {
                border: 1px solid $background-color;
                width: 40vw; 
                height: 30vh;
                border-radius: 25px; 
                background-image: url(/img/brooke-lark-08bOYnH_r_E-unsplash.jpg);
                background-size: cover;
                color: white; 
            }
            &:hover .cooking--child{
                font-style: italic;
            }
            &:hover .cooking--item{
                visibility: hidden;
            }
        }

    }
}











