@import 'variables'; 
@import 'https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300';

body {
    margin: 0;  
}
.containerHelp {
    background-image: url(/img/roman-kraft-0EVKn3-5JSU-unsplash.jpg);
    background-position: right center; 
    background-repeat: no-repeat; 
    background-attachment:fixed;
    padding-right: 10%;
}
.containerLanguage {
    background-image: url(/img/joshua-rawson-harris-KRELIShKxTM-unsplash.jpg);
    background-position: right center; 
    background-repeat: no-repeat; 
    background-attachment:fixed;
    padding-right: 10%;
}
.containerCode {
    background-image: url(/img/safar-safarov-MSN8TFhJ0is-unsplash.jpg);
    background-position: right center; 
    background-repeat: no-repeat; 
    background-attachment:fixed;
    padding-right: 10%;
}
.containerCook {
    background-image: url(/img/brooke-lark-08bOYnH_r_E-unsplash.jpg);
    background-position: right center; 
    background-repeat: no-repeat; 
    background-attachment:fixed;
    padding-right: 10%;
}

.detail {
    width: 35%; 
    padding-left: 5%;
    padding-top: 80px;
    padding-bottom: 15%; 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    

    &--headline {
        width: 80%;
        background-color: #fafafa;
        padding-left: 10%;
        padding-right: 10%;
    }
    &--facts {
        width: 80%;
        background-color: #fafafa;
        padding-left: 10%;
        padding-right: 10%;
        margin-bottom: -5px; 
    }
    &--registration {
        width: 80%;
        background-color: #fafafa;
        padding-left: 10%;
        padding-right: 10%;
    }
    &--login {
        width: 80%;
        background-color: #fafafa;
        
    }
    &--about {
        width: 80%;
        background-color: #fafafa;
        padding-left: 10%;
        padding-right: 10%;
        
    }
    &--related {
        width: 80%;
        background-color: #fafafa;
        padding-left: 10%;
        padding-right: 10%;
        padding-bottom: 9%;

    }

    &--related__name {
        background-color: #eee8e8;
        
        padding: 10px; 
        
    }
    &--related__link {
        text-decoration: none;
    }
    &--login__name {
        background-color: rgb(233, 204, 218);
        padding: 10px; 
        
    }
    &--login__link {
        text-decoration: none;
    }
}
h1 {
    font-size: 40px;
}
.h2 {
    font-size: 35px;
}
.btn--detail {
    background-color: rgb(233, 204, 218);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}


