@import 'variables'; 
@import 'https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300';

body {
    background-color:  #f4f3f1;
    color: #45565d; 
    
    
    font-family: 'Courier New', Courier, monospace;

}
.form {
    padding:10vh;
    text-align: center;
    font-size: 25px;
}

