@import 'variables'; 

.body {
    margin: 0; 
}
.footer {
    background-color: $background-color;
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    align-items: center;

.links--link {
        margin: 10; 
    }
}

.content {
    color: white;
}

.invisible {
    background: red;
}