@import 'variables'; 

.body {
    margin: 0; 
}
.footer {
    background-color: $background-color;
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    align-items: center;
    background-color: black;
    width: 100%;
    padding-left: 30px;
    padding-top: 3px;
    padding-right: 30px;
    position: fixed; 
    bottom: -120px;
    width: 100%;

    

.links--link {
        margin: 10; 
    }
}

.content {
    color: white;
}

.invisible {
    background: red;
}

.footer:hover {
    position: fixed; 
    bottom: 0; 
    width: 100%; 
}
.homepage--container__info {
    color: white;
}

.homepage--container__contact {
    color: white;
}
.links  {
    color: white;
}