body {
    background-color:  #f4f3f1;
    color: #45565d; 
    background-image: url(/img/taneli-lahtinen-e57Hpo-Qek4-unsplash.jpg);
    background-attachment: fixed;
    height: 80vh;
    font-family: 'Courier New', Courier, monospace;

}
.activities {
    
    display: flex;
    
    justify-content: space-around;;
    flex-wrap: wrap;
    text-align: center;
    
    &__createdactivities {
    width: 15vw;
    }

    &__buttons {
        display: flex;
        justify-content: space-between;
    }

}

.personalinfo {
    
    
    text-align: center;
}