body {
    background-color:  #f4f3f1;
    color: #45565d; 
    
    font-family: 'Courier New', Courier, monospace;
    margin-top: 10vh;;

}
.edit {
    display: flex;
    flex-direction: column;
    text-align: center;
    
  
}

