@import 'variables'; 

.ad {
    margin-top: 20vh;
    
    margin-left: 20vw;
    margin-bottom: 20vh;
    background-color: $darker-background;
    border-radius: 25px;
    text-align: center;
    padding: 2vh 10vw 2vh 10vw;
    width: 40vw;
    

}