body {
    background-color:  #f4f3f1;
    color: #45565d; 
    background-attachment: fixed;
    font-family: 'Courier New', Courier, monospace;
}

.detail--container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.detail--headline {
    background-color: #abc9c7;
    width: 50vw;
    padding: 10px; 
}
.detail--facts {
    background-color: #abc9c7;
    width: 50vw;
    padding: 10px;
}
.detail--registration{
    background-color: #abc9c7;
    width: 50vw;
    padding: 10px;
}
.detail--login {
    background-color: #abc9c7;
    width: 50vw;
    padding: 10px;
}

.detail--about{
    background-color: #abc9c7;
    width: 50vw;
    padding: 10px;
}

.detail--related {
    background-color: #abc9c7;
    width: 50vw;
    padding: 10px;
    margin-bottom: 10vh;
}

.registration--button {
    margin: 10px; 
    padding: 10px; 
    background-color: #e3f0f0;
    text-decoration: none;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.registration--button:hover {
    background-color: #528884; 
}
